{
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-object-rest-spread", {
      "loose": true,
      "useBuiltIns": true
    }]
  ],
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "8",
        "browsers": ["last 2 versions"]
      },
      "modules": false
    }]
  ]
}